main {
  width: 100%;
  background: linear-gradient(
    rgba(233, 235, 203,0.8),
    rgba(233, 235, 203,0.8),
    ),
    url("/assets/img/01-Converted-01.png");
  background-size:contain;  
  padding: 100px 20px;
  h1 {
    color: $colordarkgreen;
    font-size: 60px;
    font-family: "Lato", Sans-serif;
    text-align: center;
    padding: 20px;
    width: 100%;
  }
  p {
    color: $colorgreen;
    padding: 20px;
    text-align: center;
    font-family: "Lato", Sans-serif;
  }
  .mainsear{
    width: 100%;
    padding: 50px 0px 10px;
    display:flex;
    align-items:center;
    justify-content: center;
    gap: 20px;
    #mainsearch{
      padding: 10px 20px;
      outline: none;
      border: 2px dashed $colorgreen;
      border-radius:20px;
      font-family: "Lato", Sans-serif;

    }
    select{
      font-family: "Lato", Sans-serif;
      padding: 10px;
      color:$colorgreen;
      outline: none;
      border: 2px dashed $colorgreen;
      border-radius:20px;
      option{
        color:$colorgreen;
      }
    }
  }
  #maincon {
    display: flex;
    padding: 100px 32px;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 25px;
    .cards {
      flex: 1 1 calc(33% - 25px);
      max-width: calc(33% - 25px);
      display: flex;
      flex-direction: column;
      padding: 20px;
      background-color: white;
      border-radius: 20px;
      gap: 10px;
      .cardsimg {
        width: 100%;
        height: 200px;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      h3 {
        color: $colorgreen;
        font-size: 40px;
      }

      span {
        display: flex;
        gap: 10px;
        i {
          color: $colorgreen;
          font-size: 30px;
        }
        h4 {
          color: $colorgreen;
          font-weight: 100;
          font-size: 30px;
        }
      }
      iframe {
        border: 1px dashed $colordarkgreen;
        border-radius: 20px;
      }
      button {
        padding: 10px;
        display: flex;
        width: 170px;
        align-items: center;
        justify-content: center;
        border: 1px dashed $colordarkgreen;
        border-radius: 30px;
        font-size: 20px;
        display: flex;
        color: $colorgreen;
        gap: 10px;
        transition: 0.4s ease;
        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }
  .loadbutton{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items:center;
    #load {
      padding: 10px;
      display: flex;
      width: 170px;
      align-items: center;
      justify-content: center;
      border: 1px dashed $colordarkgreen;
      border-radius: 30px;
      font-size: 20px;
      display: flex;
      color: $colorgreen;
      gap: 10px;
      transition: 0.4s ease;
      &:hover {
        transform: scale(1.1);
      }
    }
    #show{
      padding: 10px;
      display: flex;
      width: 170px;
      align-items: center;
      justify-content: center;
      border: 1px dashed $colordarkgreen;
      border-radius: 30px;
      font-size: 20px;
      display: flex;
      color: $colorgreen;
      gap: 10px;
      transition: 0.4s ease;
      &:hover {
        transform: scale(1.1);
      }

    }
  }
}








@media only screen and (max-width: 1200px) {
  main {

    #maincon {

      .cards {
        flex: 1 1 calc(50% - 25px);
        max-width: calc(50% - 25px);
      }
    }
  }
}




@media only screen and (max-width: 768px) {
  main {
    clip-path: polygon(38% 2%, 63% 4%, 88% 0, 100% 0, 100% 100%, 0 100%, 0 0, 15% 0);

    #maincon {
      .cards {
        flex: 1 1 calc(100%);
        max-width: 100%;
      }
    }
  }
}
