.usersection{
    width: 100%;
    background: linear-gradient(
        rgba(189, 191, 166, 0.9),
        rgba(189, 191, 166, 0.9)
      ),
      url("/assets/img/01-Converted-01.png");
    background-size:contain;  
    padding:20px;
    padding: 150px 32px;
    .usertableanddiv{
    width: 100%;
    display: flex;
    justify-content: space-between;
    .usertable{
      width: 25%;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px;
      height: 40vh;
      border: 2px dashed $colorgreen;
      border-radius: 20px;
      gap: 30px;
      i{
        color:$colorgreen;
        font-size: 100px;

      }
      .userh1{
        color:$colorgreen;
        font-size: 30px;
        font-family: "Lato", Sans-serif;
        text-align: center;
        width: 70%;
      }
      .useremail{
        color:$colorgreen;
        font-size: 20px;
        font-family: "Lato", Sans-serif;
        text-align: center;
        width: 70%;
      }
      a{
        font-size: 90px;
        color:$colorgreen;
        .presonuser{
        font-size: 50px;
      }
      }
    }
    .usermaps{
      display: flex;
      flex-direction: column;
      align-items:center;
      justify-content: center;
      gap: 20px;
      width: 70%;
      iframe{
        border-radius:20px;
      }
      h1{
        color:$colorgreen;
        font-size: 20px;
        font-family: "Lato", Sans-serif;
        text-align: center;
        width: 70%;
      }
    }
  }
    .formdiv{
      form{
        width: 100%;
        flex-wrap: wrap;
      padding: 100px;
      display: flex;
      width: 100%;
      .imgsecme{
        flex-direction: column;
        display: flex;
        gap: 10px;
        width: 50%;
        label{
          color: $colorgreen;
          font-family: "Lato", Sans-serif;
          width: 100%;
          font-size: 30px;
          #file{
            outline: none;
            padding: 10px;
            font-size: 16px;
            width: 170px;
            border:2px dashed $colorgreen;
            border-radius:20px;
          }
        }
        div{
          display: flex;
          flex-direction: column;
          .divimg{
            width: 100%;
            border:2px dashed $colorgreen;
            border-radius: 20px;
            height: 300px;
            img{
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
        }
      }
      .textform{
        width: 50%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 50px;
        label{
          color: $colorgreen;
          font-family: "Lato", Sans-serif;
          width: 100%;
          font-size: 30px;
        }
        input{
          outline: none;
          padding: 10px;
          font-size: 20px;
          border:2px dashed $colorgreen;
          border-radius:20px;
        }
        #submit{
          color: $colorgreen;
          transition: 0.3s ease;
          font-family: "Lato", Sans-serif;
          width: 200px;
          font-size: 20px;
          &:hover{
            background-color:$colorgreen;
            border:2px dashed white;
            color:white;
          }
        }
      }
      .infoform{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        label{
          color: $colorgreen;
          font-family: "Lato", Sans-serif;
          width: 100%;
          font-size: 30px;
        }
        
        textarea{
          width: 100%;
          border:2px dashed $colorgreen;
          outline: none;
          border-radius:20px;
          height: 150px;
          font-size: 20px;
          padding: 10px;
        }
        input{
          outline: none;
          padding: 10px;
          font-size: 20px;
          border:2px dashed $colorgreen;
          border-radius:20px;
        }
      }


    }
    
    }
}
@media screen and (max-width:1200px) {
  .usersection{
    width: 100%;
    background: linear-gradient(
        rgba(189, 191, 166, 0.9),
        rgba(189, 191, 166, 0.9)
      ),
      url("/assets/img/01-Converted-01.png");
    background-size:contain;  
    padding:20px;
    padding: 150px 32px;
    .usertable{
      width: 25%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 70vh;
      border: 2px dashed $colorgreen;
      border-radius: 20px;
      gap: 30px;
      a{
        font-size: 90px;
        color:$colorgreen;
        .presonuser{
        font-size: 50px;
      }
      }
    }
    .formdiv{
      form{
        width: 100%;
        flex-wrap: wrap;
      padding: 100px;
      display: flex;
      width: 100%;
      .imgsecme{
        flex-direction: column;
        display: flex;
        gap: 10px;
        width: 50%;
        label{
          color: $colorgreen;
          font-family: "Lato", Sans-serif;
          width: 100%;
          font-size: 30px;
          #file{
            outline: none;
            padding: 10px;
            font-size: 16px;
            width: 170px;
            border:2px dashed $colorgreen;
            border-radius:20px;
          }
        }
        div{
          display: flex;
          flex-direction: column;
          .divimg{
            width: 100%;
            border:2px dashed $colorgreen;
            border-radius: 20px;
            height: 300px;
            img{
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
        }
      }
      .textform{
        width: 50%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 50px;
        label{
          color: $colorgreen;
          font-family: "Lato", Sans-serif;
          width: 100%;
          font-size: 30px;
        }
        input{
          outline: none;
          padding: 10px;
          font-size: 20px;
          border:2px dashed $colorgreen;
          border-radius:20px;
        }
        #submit{
          color: $colorgreen;
          transition: 0.3s ease;
          font-family: "Lato", Sans-serif;
          width: 200px;
          font-size: 20px;
          &:hover{
            background-color:$colorgreen;
            border:2px dashed white;
            color:white;
          }
        }
      }
      .infoform{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        label{
          color: $colorgreen;
          font-family: "Lato", Sans-serif;
          width: 100%;
          font-size: 30px;
        }
        textarea{
          width: 100%;
          border:2px dashed $colorgreen;
          outline: none;
          border-radius:20px;
          height: 150px;
          font-size: 20px;
          padding: 10px;

        }
      }


    }

    }
}
  
}