* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  padding: 0 32px;
  margin: 0 auto;
  max-width: 1400px;
}

a {
  text-decoration: none;
}

body {
  background-color: rgb(233, 235, 203);
}

nav {
  padding: 20px 30px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  z-index: 10000;
}
nav div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
nav div div {
  width: 70px;
  height: 70px;
}
nav div div img {
  width: 100%;
  height: 100%;
}
nav div h1 {
  font-family: "Lato", Sans-serif;
  font-weight: 900;
  color: #66b400;
  font-size: 23px;
}
nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  gap: 22px;
}
nav ul a {
  color: #475d01;
  font-size: 15px;
  font-family: "Courier New", Courier, monospace;
  font-weight: 800;
  transition: 0.4s ease;
}
nav ul a:hover {
  color: #66b400;
}
nav .icons {
  display: flex;
  gap: 15px;
}
nav .icons i {
  color: #475d01;
  font-size: 25px;
  transition: 0.4s ease;
}
nav .icons i:hover {
  color: #66b400;
}
nav .bi-list {
  color: white;
  display: none;
  font-size: 35px;
  border: 2px solid #475d01;
  border-radius: 10px;
  background-color: #66b400;
  transition: 0.4s ease;
}
nav .bi-list:hover {
  color: #66b400;
  background-color: white;
}
nav menu {
  position: absolute;
  top: 0px;
  display: flex;
  opacity: 0;
  pointer-events: none;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.4);
  right: 0px;
  left: 0;
  padding: 70px;
  gap: 55px;
  z-index: 100;
  transition: all 0.4s ease;
}
nav menu .bi-x {
  position: absolute;
  color: #475d01;
  font-size: 55px;
  top: 1px;
  right: 1px;
  transition: 0.4s ease;
}
nav menu .bi-x:hover {
  color: #66b400;
}
nav menu a {
  color: #475d01;
  font-size: 25px;
  font-family: "Lato", Sans-serif;
  font-weight: 800;
  transition: 0.4s ease;
}
nav menu a:hover {
  color: #66b400;
}
nav menu div {
  display: flex;
  width: 200px;
  justify-content: space-evenly;
}
nav menu div i {
  color: #475d01;
  font-size: 35px;
  transition: all 0.4s ease;
}
nav menu div i:hover {
  color: #66b400;
  transform: rotateY(180deg);
}

@media screen and (max-width: 1300px) {
  nav {
    padding: 20px 30px;
  }
  nav ul {
    display: none;
  }
  nav .icons {
    display: none;
  }
  nav .bi-list {
    display: flex;
    border: none;
  }
  nav menu {
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s ease;
  }
  nav menu .bi-x {
    position: absolute;
    top: 35px;
    right: 30px;
    color: white;
    font-size: 37px;
    border: none;
    border-radius: 13px;
    background-color: #66b400;
    transition: 0.4s ease;
  }
  nav menu .bi-x:hover {
    color: #66b400;
    background-color: white;
  }
}
nav menu.show {
  opacity: 1;
  pointer-events: auto;
}

#login-form {
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(189, 191, 166, 0.9), rgba(189, 191, 166, 0.9)), url("/assets/img/01-Converted-01.png");
  display: flex;
  justify-content: center;
  align-items: center;
}
#login-form .form2 {
  height: 300px;
  border: 2px dashed #475d01;
  width: 20%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#login-form .form2 h2 {
  color: #475d01;
  font-family: "Lato", Sans-serif;
  width: 100%;
  text-align: center;
  font-size: 30px;
}
#login-form .form2 label {
  color: #475d01;
  font-family: "Lato", Sans-serif;
  width: 100%;
  padding: 0 20px;
}
#login-form .form2 input {
  width: 90%;
  border: 1px dashed #475d01;
  border-radius: 20px;
  padding: 10px;
  outline: none;
  color: #475d01;
}
#login-form .form2 #submit {
  width: 50%;
  border: 1px solid #475d01;
  border-radius: 20px;
  font-size: 20px;
  padding: 5px;
  outline: none;
  color: #475d01;
  background-color: #eaeccd;
  transition: 0.4s ease;
  cursor: pointer;
}
#login-form .form2 #submit:hover {
  background-color: #475d01;
  color: white;
}

section {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(rgba(233, 235, 203, 0.8), rgba(233, 235, 203, 0.8)), url("../img/459213_adapted_landscape_2400x2400_1707135241.jpg");
  -webkit-clip-path: polygon(100% 0, 100% 96%, 78% 100%, 59% 98%, 42% 100%, 25% 97%, 11% 100%, 0 95%, 0 0);
          clip-path: polygon(100% 0, 100% 96%, 78% 100%, 59% 98%, 42% 100%, 25% 97%, 11% 100%, 0 95%, 0 0);
  background-size: cover;
  padding: 100px 50px 200px;
}
section .sectioncon {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 100px;
}
section .sectioncon .sectionimg {
  width: 350px;
  height: 500px;
  padding: 20px;
  background-color: white;
}
section .sectioncon .sectionimg img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
section .sectioncon .sectiontext {
  width: 40%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}
section .sectioncon .sectiontext span {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}
section .sectioncon .sectiontext span h1 {
  color: #333D29;
  font-size: 60px;
  font-family: "Lato", Sans-serif;
}
section .sectioncon .sectiontext span h2 {
  color: #475d01;
  font-size: 90px;
  font-family: "Lato", Sans-serif;
}
section .sectioncon .sectiontext p {
  color: #475d01;
  font-family: "Lato", Sans-serif;
}
section .sectioncon .sectiontext .learn {
  width: 100%;
  gap: 30px;
  display: flex;
  align-items: center;
  justify-content: start;
}
section .sectioncon .sectiontext .learn .bi-caret-right-fill {
  font-size: 30px;
  background-color: #475d01;
  color: white;
  padding: 12px 15px;
  border-radius: 999999px;
  transition: 0.4s ease;
}
section .sectioncon .sectiontext .learn .bi-caret-right-fill:hover {
  transform: scale(1.1);
}
section .sectioncon .sectiontext .learn button {
  padding: 20px;
  border: 1px dashed #333D29;
  border-radius: 30px;
  font-size: 20px;
  display: flex;
  color: #475d01;
  gap: 10px;
  transition: 0.4s ease;
}
section .sectioncon .sectiontext .learn button:hover {
  transform: scale(1.1);
}
section .sectioncon .sectiontext .learn button i {
  color: #475d01;
}

@media screen and (max-width: 992px) {
  section {
    padding: 0px;
  }
  section .sectioncon {
    gap: 30px;
    width: 100%;
  }
  section .sectioncon .sectionimg {
    padding: 0px;
    margin-top: -100px;
    width: 100%;
  }
  section .sectioncon .sectiontext {
    width: 100%;
    padding: 30px;
    width: 100%;
  }
  section .sectioncon .sectiontext span {
    width: 100%;
    justify-content: start;
    gap: 20px;
  }
  section .sectioncon .sectiontext span h1 {
    font-size: 60px;
  }
  section .sectioncon .sectiontext span h2 {
    font-size: 60px;
  }
  section .sectioncon .sectiontext span .learn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 0px;
  }
  section .sectioncon .sectiontext span .learn button {
    padding: 10px;
    width: 170px;
  }
  section .sectioncon .sectiontext span .learn button:hover {
    transform: scale(1.1);
  }
}
main {
  width: 100%;
  background: linear-gradient(rgba(233, 235, 203, 0.8), rgba(233, 235, 203, 0.8)), url("/assets/img/01-Converted-01.png");
  background-size: contain;
  padding: 100px 20px;
}
main h1 {
  color: #333D29;
  font-size: 60px;
  font-family: "Lato", Sans-serif;
  text-align: center;
  padding: 20px;
  width: 100%;
}
main p {
  color: #475d01;
  padding: 20px;
  text-align: center;
  font-family: "Lato", Sans-serif;
}
main .mainsear {
  width: 100%;
  padding: 50px 0px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
main .mainsear #mainsearch {
  padding: 10px 20px;
  outline: none;
  border: 2px dashed #475d01;
  border-radius: 20px;
  font-family: "Lato", Sans-serif;
}
main .mainsear select {
  font-family: "Lato", Sans-serif;
  padding: 10px;
  color: #475d01;
  outline: none;
  border: 2px dashed #475d01;
  border-radius: 20px;
}
main .mainsear select option {
  color: #475d01;
}
main #maincon {
  display: flex;
  padding: 100px 32px;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 25px;
}
main #maincon .cards {
  flex: 1 1 calc(33% - 25px);
  max-width: calc(33% - 25px);
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: white;
  border-radius: 20px;
  gap: 10px;
}
main #maincon .cards .cardsimg {
  width: 100%;
  height: 200px;
}
main #maincon .cards .cardsimg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main #maincon .cards h3 {
  color: #475d01;
  font-size: 40px;
}
main #maincon .cards span {
  display: flex;
  gap: 10px;
}
main #maincon .cards span i {
  color: #475d01;
  font-size: 30px;
}
main #maincon .cards span h4 {
  color: #475d01;
  font-weight: 100;
  font-size: 30px;
}
main #maincon .cards iframe {
  border: 1px dashed #333D29;
  border-radius: 20px;
}
main #maincon .cards button {
  padding: 10px;
  display: flex;
  width: 170px;
  align-items: center;
  justify-content: center;
  border: 1px dashed #333D29;
  border-radius: 30px;
  font-size: 20px;
  display: flex;
  color: #475d01;
  gap: 10px;
  transition: 0.4s ease;
}
main #maincon .cards button:hover {
  transform: scale(1.1);
}

@media only screen and (max-width: 1200px) {
  main #maincon .cards {
    flex: 1 1 calc(50% - 25px);
    max-width: calc(50% - 25px);
  }
}
@media only screen and (max-width: 768px) {
  main {
    -webkit-clip-path: polygon(38% 2%, 63% 4%, 88% 0, 100% 0, 100% 100%, 0 100%, 0 0, 15% 0);
            clip-path: polygon(38% 2%, 63% 4%, 88% 0, 100% 0, 100% 100%, 0 100%, 0 0, 15% 0);
  }
  main #maincon .cards {
    flex: 1 1 100%;
    max-width: 100%;
  }
}
#register-form {
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(189, 191, 166, 0.9), rgba(189, 191, 166, 0.9)), url("/assets/img/01-Converted-01.png");
  padding: 100px;
  display: flex;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}
#register-form h2 {
  font-size: 40px;
  text-align: center;
}
#register-form form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 300px;
}

.usersection {
  width: 100%;
  background: linear-gradient(rgba(189, 191, 166, 0.9), rgba(189, 191, 166, 0.9)), url("/assets/img/01-Converted-01.png");
  background-size: contain;
  padding: 150px 32px;
}
.usersection .usertable {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
  border: 2px dashed #475d01;
  border-radius: 20px;
  gap: 30px;
}
.usersection .usertable a {
  font-size: 90px;
  color: #475d01;
}
.usersection .usertable a .presonuser {
  font-size: 50px;
}

.attacment {
  width: 100%;
  background: linear-gradient(rgba(112, 122, 67, 0.4), rgba(112, 132, 74, 0.4)), url("../img/Image-13.jpg");
  padding: 200px 32px 200px;
  background-attachment: fixed;
  background-size: cover;
  -webkit-clip-path: polygon(21% 7%, 46% 3%, 76% 4%, 100% 0, 100% 98%, 64% 95%, 36% 97%, 19% 94%, 0 100%, 0 0);
          clip-path: polygon(21% 7%, 46% 3%, 76% 4%, 100% 0, 100% 98%, 64% 95%, 36% 97%, 19% 94%, 0 100%, 0 0);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-repeat: no-repeat;
  margin-top: -100px;
}
.attacment h1 {
  color: white;
  font-size: 40px;
  text-align: center;
  font-family: "Lato", Sans-serif;
}
.attacment p {
  color: white;
  font-size: 26px;
  text-align: center;
  font-family: "Lato", Sans-serif;
}
.attacment button {
  padding: 10px;
  display: flex;
  width: 170px;
  align-items: center;
  justify-content: center;
  border: 1px dashed #333D29;
  border-radius: 30px;
  font-size: 20px;
  display: flex;
  color: #475d01;
  gap: 10px;
  transition: 0.4s ease;
}
.attacment button:hover {
  transform: scale(1.1);
}

.luks {
  width: 100%;
  background-color: #eaeccd;
  padding-top: 100px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 95%, 83% 100%, 60% 95%, 40% 100%, 21% 94%, 0 98%);
          clip-path: polygon(0 0, 100% 0, 100% 95%, 83% 100%, 60% 95%, 40% 100%, 21% 94%, 0 98%);
}
.luks .span1 {
  display: flex;
  gap: 10px;
}
.luks .span1 h1 {
  color: #333D29;
  font-size: 40px;
  font-family: "Lato", Sans-serif;
}
.luks .span1 h2 {
  color: #475d01;
  font-size: 40px;
  font-family: "Lato", Sans-serif;
}
.luks p {
  color: gray;
  font-size: 20px;
  font-family: "Lato", Sans-serif;
}
.luks .lukscon {
  width: 100%;
  padding: 50px 102px 300px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
}
.luks .lukscon .luksdiv {
  padding: 20px;
  background-color: white;
  max-width: calc(33% - 20px);
  flex: 1 1 calc(33% - 20px);
  border-radius: 20px;
  gap: 10px;
  display: flex;
  flex-direction: column;
}
.luks .lukscon .luksdiv .divimg {
  width: 100%;
  height: 250px;
}
.luks .lukscon .luksdiv .divimg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.luks .lukscon .luksdiv .star {
  width: 100%;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.luks .lukscon .luksdiv .star h1 {
  color: #475d01;
  font-family: "Lato", Sans-serif;
}
.luks .lukscon .luksdiv .star span {
  display: flex;
  gap: 2px;
}
.luks .lukscon .luksdiv .star span i {
  color: rgb(255, 221, 0);
  font-size: 20px;
}
.luks .lukscon .luksdiv .span2 {
  width: 100%;
  display: flex;
  gap: 10px;
  align-items: center;
}
.luks .lukscon .luksdiv .span2 i {
  font-size: 26px;
  color: #475d01;
}
.luks .lukscon .luksdiv .span2 h4 {
  color: #475d01;
}
.luks .lukscon .luksdiv .span3 {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 5px;
}
.luks .lukscon .luksdiv .span3 p {
  color: #333D29;
}
.luks .lukscon .luksdiv .span3 i {
  color: red;
}
.luks .lukscon .luksdiv a button {
  padding: 10px;
  display: flex;
  width: 170px;
  align-items: center;
  justify-content: center;
  border: 1px dashed #333D29;
  border-radius: 30px;
  font-size: 20px;
  display: flex;
  color: #475d01;
  gap: 10px;
  transition: 0.4s ease;
}
.luks .lukscon .luksdiv a button:hover {
  transform: scale(1.1);
}

@media only screen and (max-width: 1200px) {
  .luks {
    -webkit-clip-path: polygon(100% 0, 100% 100%, 61% 99%, 21% 98%, 0 100%, 0 0);
            clip-path: polygon(100% 0, 100% 100%, 61% 99%, 21% 98%, 0 100%, 0 0);
  }
  .luks .lukscon .luksdiv {
    flex: 1 1 calc(50% - 25px);
    max-width: calc(50% - 25px);
  }
}
@media only screen and (max-width: 768px) {
  .luks {
    gap: 20px;
    -webkit-clip-path: polygon(100% 0, 100% 100%, 61% 99%, 21% 98%, 0 100%, 0 0);
            clip-path: polygon(100% 0, 100% 100%, 61% 99%, 21% 98%, 0 100%, 0 0);
  }
  .luks .span1 {
    flex-direction: column;
    align-items: center;
  }
  .luks .lukscon {
    padding: 50px 40px 300px;
  }
  .luks .lukscon .luksdiv {
    flex: 1 1 100%;
    max-width: 100%;
  }
}
.havefun {
  -webkit-clip-path: polygon(50% 0%, 69% 5%, 100% 0, 100% 100%, 0 100%, 0 0, 25% 4%);
          clip-path: polygon(50% 0%, 69% 5%, 100% 0, 100% 100%, 0 100%, 0 0, 25% 4%);
  width: 100%;
}
.havefun .havefuncon {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  padding: 200px 152px 100px;
}
.havefun .havefuncon .havefuntext {
  background-color: white;
  max-width: calc(33% - 20px);
  flex: 1 1 calc(33% - 20px);
  display: flex;
  padding: 40px 30px;
  flex-direction: column;
  border-radius: 20px;
  box-shadow: inset;
  gap: 20px;
  border-bottom: 3px dashed #475d01;
}
.havefun .havefuncon .havefuntext h1 {
  font-size: 45px;
  width: 100%;
  color: #333D29;
  font-family: "Lato", Sans-serif;
}
.havefun .havefuncon .havefuntext span {
  display: flex;
  align-items: center;
  gap: 10px;
}
.havefun .havefuncon .havefuntext span i {
  font-size: 20px;
  color: #475d01;
}
.havefun .havefuncon .havefuntext span h4 {
  font-size: 17px;
  color: #333D29;
}
.havefun .havefuncon .havefuntext button {
  padding: 10px;
  display: flex;
  width: 170px;
  align-items: center;
  justify-content: center;
  border: 1px dashed #333D29;
  border-radius: 30px;
  font-size: 20px;
  cursor: pointer;
  display: flex;
  color: #475d01;
  background-color: #F0EAD2;
  gap: 10px;
  transition: 0.4s ease;
}
.havefun .havefuncon .havefuntext button:hover {
  transform: scale(1.1);
}
.havefun .havefuncon .fishing {
  background-color: white;
  max-width: calc(33% - 20px);
  flex: 1 1 calc(33% - 20px);
  display: flex;
  padding: 50px 30px;
  flex-direction: column;
  border-radius: 20px;
  justify-content: center;
  gap: 20px;
  box-shadow: inset;
  align-items: flex-start;
  border-bottom: 3px dashed #475d01;
}
.havefun .havefuncon .fishing button {
  padding: 10px;
  display: flex;
  width: 170px;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  border: none;
  font-size: 20px;
  display: flex;
  cursor: pointer;
  color: #475d01;
  background-color: transparent;
  gap: 10px;
  transition: 0.4s ease;
}
.havefun .havefuncon .fishing button:hover {
  transform: scale(1.1);
}
.havefun .havefuncon .fishing .imgicon1 {
  width: 100px;
  height: 100px;
  border: none;
}
.havefun .havefuncon .fishing .imgicon1 img {
  width: 100%;
  height: 100%;
  border-radius: 9999999px;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.4s ease;
}
.havefun .havefuncon .fishing .imgicon1 img:hover {
  transform: scale(1.1);
}
.havefun .havefuncon .fishing h2 {
  color: #475d01;
  font-family: "Lato", Sans-serif;
}
.havefun .havefuncon .fishing p {
  color: #333D29;
  font-family: "Lato", Sans-serif;
}

@media only screen and (max-width: 1200px) {
  .havefun .havefuncon {
    padding: 200px 52px 100px;
  }
  .havefun .havefuncon .havefuntext {
    gap: 40px;
    max-width: calc(50% - 20px);
    flex: 1 1 calc(50% - 20px);
  }
  .havefun .havefuncon .havefuntext h1 {
    font-size: 30px;
  }
  .havefun .havefuncon .fishing {
    max-width: calc(50% - 20px);
    flex: 1 1 calc(50% - 20px);
  }
}
@media only screen and (max-width: 768px) {
  .havefun .havefuncon {
    padding: 200px 52px 100px;
  }
  .havefun .havefuncon .havefuntext {
    max-width: calc(100% - 20px);
    flex: 1 1 calc(100% - 20px);
  }
  .havefun .havefuncon .fishing {
    max-width: calc(100% - 20px);
    flex: 1 1 calc(100% - 20px);
  }
}
footer {
  width: 100%;
  -webkit-clip-path: polygon(50% 0%, 69% 5%, 100% 0, 100% 100%, 0 100%, 0 0, 25% 4%);
          clip-path: polygon(50% 0%, 69% 5%, 100% 0, 100% 100%, 0 100%, 0 0, 25% 4%);
  background-color: #333D29;
}
footer .footercon {
  display: flex;
  gap: 20px;
  padding: 100px 32px;
}
footer .footercon .footerdiv1 {
  display: flex;
  flex: 1 1 calc(30% - 20px);
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
footer .footercon .footerdiv1 div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
footer .footercon .footerdiv1 div div {
  width: 70px;
  height: 70px;
}
footer .footercon .footerdiv1 div div img {
  width: 100%;
  height: 100%;
}
footer .footercon .footerdiv1 div h1 {
  font-family: "Lato", Sans-serif;
  font-weight: 900;
  color: white;
  font-size: 33px;
}
footer .footercon .footerdiv1 p {
  font-size: 20px;
  color: gray;
  width: 100%;
}
footer .footercon .footerdiv1 .icons {
  display: flex;
  gap: 15px;
}
footer .footercon .footerdiv1 .icons i {
  color: #475d01;
  border-radius: 999999px;
  padding: 5px;
  font-size: 25px;
  background-color: gray;
  transition: 0.4s ease;
}
footer .footercon .footerdiv1 .icons i:hover {
  color: #66b400;
}
footer .footercon .footerdiv2 {
  display: flex;
  flex-direction: column;
  flex: 1 1 calc(70% - 30px);
  max-width: calc(70% - 30px);
  gap: 20px;
}
footer .footercon .footerdiv2 .contact {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
footer .footercon .footerdiv2 .contact span {
  display: flex;
  align-items: center;
  gap: 10px;
}
footer .footercon .footerdiv2 .contact span i {
  background-color: gray;
  padding: 10px;
  border-radius: 999999px;
  color: #475d01;
  font-size: 20px;
  cursor: pointer;
}
footer .footercon .footerdiv2 .contact span h1 {
  font-family: "Lato", Sans-serif;
  color: white;
  font-size: 20px;
  cursor: pointer;
}
footer .footercon .footerdiv2 .contact span h2 {
  font-family: "Lato", Sans-serif;
  color: white;
  font-size: 20px;
  cursor: pointer;
}
footer .footercon .footerdiv2 .contact span p {
  font-family: "Lato", Sans-serif;
  color: white;
  cursor: pointer;
  font-size: 15px;
}
footer .footercon .footerdiv2 hr {
  border: 1px dashed gray;
}
footer .footercon .footerdiv2 .footerdiv3 {
  display: flex;
  padding: 0;
  width: 100%;
  justify-content: space-between;
}
footer .footercon .footerdiv2 .footerdiv3 div {
  display: flex;
  gap: 20px;
  flex-direction: column;
}
footer .footercon .footerdiv2 .footerdiv3 div h1 {
  font-family: "Lato", Sans-serif;
  color: white;
  font-size: 20px;
  width: 200px;
}
footer .footercon .footerdiv2 .footerdiv3 div a {
  font-family: "Lato", Sans-serif;
  color: white;
  cursor: pointer;
  font-size: 15px;
  transition: 0.2s ease;
}
footer .footercon .footerdiv2 .footerdiv3 div a:hover {
  color: #475d01;
}
footer .footercon .footerdiv2 .footerdiv3 div i {
  padding: 10px;
  border-radius: 999999px;
  color: white;
  font-size: 20px;
  cursor: pointer;
  align-items: center;
}

@media only screen and (max-width: 1300px) {
  footer .footercon {
    flex-direction: column;
    gap: 40px;
  }
  footer .footercon .footerdiv1 {
    gap: 30px;
  }
  footer .footercon .footerdiv2 {
    display: flex;
    flex-direction: column;
    flex: 1 1 calc(100% - 30px);
    max-width: calc(100% - 30px);
  }
}
@media only screen and (max-width: 992px) {
  footer .footercon {
    flex-direction: column;
    gap: 40px;
  }
  footer .footercon .footerdiv1 {
    gap: 30px;
  }
  footer .footercon .footerdiv2 {
    display: flex;
    flex-direction: column;
    flex: 1 1 calc(100% - 30px);
    max-width: calc(100% - 30px);
  }
  footer .footercon .footerdiv2 .contact {
    flex-direction: column;
    gap: 20px;
  }
  footer .footercon .footerdiv3 a {
    font-size: 12px;
  }
  footer .footercon .footerdiv3 i {
    width: 60%;
  }
}
@media only screen and (max-width: 768px) {
  footer .footercon {
    flex-direction: column;
    gap: 40px;
  }
  footer .footercon .footerdiv1 {
    gap: 30px;
  }
  footer .footercon .footerdiv1 div h1 {
    font-size: 20px;
  }
  footer .footercon .footerdiv2 {
    padding: 0px;
    display: flex;
    flex-direction: column;
    flex: 1 1 100%;
    max-width: 100%;
  }
  footer .footercon .footerdiv2 .contact {
    flex-direction: column;
    gap: 20px;
  }
  footer .footercon .footerdiv2 .footerdiv3 {
    width: 100%;
    padding: 0;
    gap: 40px;
    flex-direction: column;
  }
}
.modal {
  width: 100%;
  height: 100vh;
  position: fixed;
  display: none;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 9999999;
  top: 0;
  display: none;
  left: 0;
}
.modal .modaldiv {
  padding: 100px 200px;
  width: 100%;
  height: 100vh;
}
.modal .modaldiv iframe {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

@media screen and (max-width: 768px) {
  .modal {
    width: 100%;
    height: 100vh;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 9999999;
    top: 0;
    left: 0;
  }
  .modal .modaldiv {
    padding: 10px;
    width: 100%;
    height: 300px;
  }
  .modal .modaldiv iframe {
    width: 100%;
    height: 100%;
    border-radius: 20px;
  }
}/*# sourceMappingURL=style.css.map */