*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.container{
    padding: 0 32px;
    margin: 0 auto;
    max-width: 1400px;
}
a{
    text-decoration: none;
}

///color
$colordarkgreen:#333D29;
$colorgreen:#475d01;    
$colorlightgreen:#66b400;
$colorbgcolor:#BCBEA6;
$colorimgborder:#F0EAD2;

@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin column {
    display: flex;
    flex-direction: column;
}
@mixin spacebetween {
   display: flex;
   justify-content: space-between;
   align-items:center;    
}



@import './nav';
@import './login';
@import './section';
@import './main';
@import './singup';









