*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    padding: 0 32px;
    margin: 0 auto;
    max-width: 1400px;
}
a{
    text-decoration: none;
}
body{
    background-color:rgb(233, 235, 203);
}
///color
$colordarkgreen:#333D29;
$colorgreen:#475d01;    
$colorlightgreen:#66b400;
$colorbgcolor:#eaeccd;
$colorimgborder:#F0EAD2;

@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin column {
    display: flex;
    flex-direction: column;
}
@mixin spacebetween {
   display: flex;
   justify-content: space-between;
   align-items:center;    
}



@import './nav';
@import './login';
@import './section';
@import './main';
@import './singup';
@import './user';
@import './attacment';
@import './luks';
@import './havefun';
@import './footer';
@import './modal';
@import './admin';
@import './reserved';
@import './aboutus';














